header {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    height: 10px;
	padding: 15px 0;
	background-color: white;
	box-shadow: 0 0 10px rgba(black,0.3);
	z-index: 9998;
}

.logo {
    cursor: pointer;
}