article {
    margin:  20px;
    padding: 20px;
    width: 300px;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

article:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }

  h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
    }