.search {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.search-input {
    width: 100%;
    position: relative;
    display: flex;
}

input {
    width: 100%;
    border: 3px solid #00b5b5;
    border-right: none;
    padding: 5px;
    height: 60px;
    border-radius: 30px 0 0 30px;
    outline: none;
    color: #9DBFAF;
    padding-left: 28px;
    font-size: 20px;
}

input:focus{
    color: #474444;
  }  

button {
    width: 140px;
    height: 76px;
    border: 1px solid #00b5b5;
    background: #00b5b5;
    text-align: center;
    color: #fff;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    font-size: 24px;
}