.search {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

input {
    border-radius: 30px 0 0 30px;
}

button {
    cursor:pointer;
    border-radius: 0 30px 30px 0;   
}